/* The class names and style declarations below were added to help you get started.
If you would prefer, you can delete them and use your own classes and style declarations. */



.form {
    border: 1px solid var(--gray3);
    border-radius:  2%;
    margin: auto;
    width: 450px;
    height: 600px;
}

.form-element1 {
    list-style: none;
    font-size: 20px;
    text-align-last: justify;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.form-element2 {
    padding-left: 30px;
    text-align: left;
    font-weight: bold;
}

.btn {
}

.btn-primary {
    color: var(--white);
    background-color: var(--green);
    width: 190px;
    height: 45px;
    border: 0cm;
    font-size: 20px;
    border-radius:  4%;
}

.btn-primary:hover {
    color: var(--black);
    background-color: var(--orange);
    border: 2px solid var(--black);
    border-radius:  4%;
}

.btn-secondary {
    color: var(--green);
    background-color: var(--white);
    width: 190px;
    height: 45px;
    border: 2px solid var(--green);
    border-radius:  4%;
    font-size: 20px;
}

#title {
    font-size: 55px;
    font-weight: bold;
}

.center{
    text-align-last: center;
}

#date, #username, #password, #email {
    width: 290px;
    font-size: 20px;
}

#yes, #no {
    margin-left: 25px;
    width: 40px;

}

